<div>
  <nav class="navbar navbar-default navbar--mobile">
    <div class="navbar-header">
      <a class="menu__logo navbar-brand" href="https://resin.io">
        <span class="logo">
          <img class="logo__img" src="/img/logo.svg">
          <span class="logo__text">resin.io</span>
        </span>
      </a>

      <a class="btn btn-primary" href="https://dashboard.resin.io/signup">SIGN UP</a>

      <button type="button" ng-click="topMenuCollapsed = !topMenuCollapsed" class="navbar-toggle collapsed">
        <span ng-class="{ active: topMenuCollapsed }" class="icon-bar"></span>
        <span ng-class="{ active: topMenuCollapsed }" class="icon-bar"></span>
        <span ng-class="{ active: topMenuCollapsed }" class="icon-bar"></span>
      </button>
    </div>
    <div collapse="!topMenuCollapsed" class="collapse navbar-collapse">
      <ul>
        <li ng-repeat="menuItem in mainMenu"><a ng-href="{{ menuItem.link }}">{{ menuItem.title }}</a></li>
      </ul>
    </div>
  </nav>

  <nav data-md-sticky-header class="navbar navbar-submenu navbar--mobile">
    <div ng-click="subMenuCollapsed = !subMenuCollapsed"  class="navbar-header">
      <a href="">{{ pageTitle }}</a>
      <button type="button" class="navbar-toggle collapsed">
        <span ng-class="{ active: subMenuCollapsed }" class="caret"></span>
      </button>
    </div>
    <div collapse="!subMenuCollapsed" class="collapse navbar-collapse">
      <div class="sidebar">
        <form ng-controller="SearchCtrl" ng-submit="search()">
          <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search Docs...">
        </form>
        <navigation mobile="true"></navigation>
      </div>
    </div>
  </nav>
</div>
