build/
node_modules/
server/nav.json
npm-debug.log
static/dist
contracts/

.#*

.DS_Store
*.swp
*.swo
tmp
.lycheecache

# Legacy ignores (files no longer fetched)
pages/reference/device-diagnostics.md
pages/reference/supervisor-state.md
pages/reference/supervisor/upgrade-policy.md
pages/reference/OS/debugging-balenaos.md

# Ignore dynamic assets generated for Getting Started
static/img/device/**
config/dictionaries/device.json

# Ignore generated docs for base images
shared/general/base-images.md

# Curl error output
output
