contents/
node_modules/
server/nav.json
server/lunr_index.json
npm-debug.log
static/dist

.#*

.DS_Store
*.swp
*.swo
tmp
docs_env

# Ignore external docs that are pulled via tools/fetch-external.sh
pages/reference/cli.md
pages/reference/sdk/node-sdk.md
pages/reference/sdk/python-sdk.md
pages/reference/supervisor/supervisor-api.md
pages/learn/deploy/release-strategy/update-locking.md
