openapi: 3.0.0
info:
  title: Balena API Spec
  description: Automated API spec generation with alphabetized resources.
  version: 7.0.0
servers:
  - url: https://api.balena-cloud.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    api_key:
      type: object
      title: API key Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        is_of__actor:
          description: Type information not available yet
        name:
          description: Type information not available yet
        description:
          description: Type information not available yet
    device:
      type: object
      title: Device Model
      properties:
        id:
          description: Type information not available yet
        belongs_to__application:
          description: Type information not available yet
        belongs_to__user:
          description: Type information not available yet
        actor:
          description: Type information not available yet
        device_name:
          description: Type information not available yet
        is_of__device_type:
          description: Type information not available yet
        uuid:
          description: Type information not available yet
        is_running__release:
          description: Type information not available yet
        is_pinned_on__release:
          description: Type information not available yet
        should_be_running__release:
          description: Type information not available yet
        note:
          description: Type information not available yet
        local_id:
          description: Type information not available yet
        status:
          description: Type information not available yet
        overall_status:
          description: Type information not available yet
        is_online:
          description: Type information not available yet
        last_connectivity_event:
          description: Type information not available yet
        is_connected_to_vpn:
          description: Type information not available yet
        last_vpn_event:
          description: Type information not available yet
        ip_address:
          description: Type information not available yet
        mac_address:
          description: Type information not available yet
        public_address:
          description: Type information not available yet
        os_version:
          description: Type information not available yet
        os_variant:
          description: Type information not available yet
        supervisor_version:
          description: Type information not available yet
        should_be_managed_by__release:
          description: Type information not available yet
        is_managed_by__service_instance:
          description: Type information not available yet
        provisioning_progress:
          description: Type information not available yet
        provisioning_state:
          description: Type information not available yet
        download_progress:
          description: Type information not available yet
        is_web_accessible:
          description: Type information not available yet
        longitude:
          description: Type information not available yet
        latitude:
          description: Type information not available yet
        location:
          description: Type information not available yet
        custom_longitude:
          description: Type information not available yet
        custom_latitude:
          description: Type information not available yet
        is_locked_until__date:
          description: Type information not available yet
        is_accessible_by_support_until__date:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        is_active:
          description: Type information not available yet
        api_heartbeat_state:
          description: Type information not available yet
        memory_usage:
          description: Type information not available yet
        memory_total:
          description: Type information not available yet
        storage_block_device:
          description: Type information not available yet
        storage_usage:
          description: Type information not available yet
        storage_total:
          description: Type information not available yet
        cpu_temp:
          description: Type information not available yet
        cpu_usage:
          description: Type information not available yet
        cpu_id:
          description: Type information not available yet
        is_undervolted:
          description: Type information not available yet
    device_config_variable:
      type: object
      title: Device config variable Model
      properties:
        id:
          description: Type information not available yet
        device:
          description: Type information not available yet
        value:
          description: Type information not available yet
        name:
          description: Type information not available yet
    device_environment_variable:
      type: object
      title: Device Environment Variable Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        device:
          description: Type information not available yet
        name:
          description: Type information not available yet
        value:
          description: Type information not available yet
    device_service_environment_variable:
      type: object
      title: Device service variable Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        service_install:
          description: Type information not available yet
        value:
          description: Type information not available yet
        name:
          description: Type information not available yet
    device_tag:
      type: object
      title: Device tag Model
      properties:
        id:
          description: Type information not available yet
        device:
          description: Type information not available yet
        tag_key:
          description: Type information not available yet
        value:
          description: Type information not available yet
    device_type:
      type: object
      title: Device type Model
      properties:
        id:
          description: Type information not available yet
        slug:
          description: Type information not available yet
        name:
          description: Type information not available yet
        is_private:
          description: Type information not available yet
        is_of__cpu_architecture:
          description: Type information not available yet
        belongs_to__device_family:
          description: Type information not available yet
    fleet:
      type: object
      title: Fleet Model
      properties:
        id:
          description: Type information not available yet
        uuid:
          description: Type information not available yet
        organization:
          description: Type information not available yet
        actor:
          description: Type information not available yet
        app_name:
          description: Type information not available yet
        slug:
          description: Type information not available yet
        should_be_running__release:
          description: Type information not available yet
        application_type:
          description: Type information not available yet
        is_for__device_type:
          description: Type information not available yet
        should_track_latest_release:
          description: Type information not available yet
        is_accessible_by_support_until__date:
          description: Type information not available yet
        is_public:
          description: Type information not available yet
        is_host:
          description: Type information not available yet
        is_archived:
          description: Type information not available yet
        is_discoverable:
          description: Type information not available yet
        is_stored_at__repository_url:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
    fleet_config_variable:
      type: object
      title: Fleet config variable Model
      properties:
        id:
          description: Type information not available yet
        application:
          description: Type information not available yet
        name:
          description: Type information not available yet
        value:
          description: Type information not available yet
    fleet_environment_variable:
      type: object
      title: Fleet environment variable Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        application:
          description: Type information not available yet
        name:
          description: Type information not available yet
        value:
          description: Type information not available yet
    fleet_membership_role:
      type: object
      title: Fleet membership role Model
      properties:
        id:
          description: Type information not available yet
        name:
          description: Type information not available yet
    service_environment_variable:
      type: object
      title: Fleet service variable Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        service_install:
          description: Type information not available yet
        value:
          description: Type information not available yet
        name:
          description: Type information not available yet
    fleet_tag:
      type: object
      title: Fleet tag Model
      properties:
        id:
          description: Type information not available yet
        application:
          description: Type information not available yet
        tag_key:
          description: Type information not available yet
        value:
          description: Type information not available yet
    organization:
      type: object
      title: Organization Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        name:
          description: Type information not available yet
        handle:
          description: Type information not available yet
        company_name:
          description: Type information not available yet
        website:
          description: Type information not available yet
        industry:
          description: Type information not available yet
        billing_account_code:
          description: Type information not available yet
    organization_membership:
      type: object
      title: Organization Membership Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        user:
          description: Type information not available yet
        is_member_of__organization:
          description: Type information not available yet
        organization_membership_role:
          description: Type information not available yet
        effective_seat_role:
          description: Type information not available yet
    release:
      type: object
      title: Release Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        belongs_to__application:
          description: Type information not available yet
        is_created_by__user:
          description: Type information not available yet
        raw_version:
          description: Type information not available yet
        semver:
          description: Type information not available yet
        semver_major:
          description: Type information not available yet
        semver_minor:
          description: Type information not available yet
        semver_patch:
          description: Type information not available yet
        semver_prerelease:
          description: Type information not available yet
        semver_build:
          description: Type information not available yet
        revision:
          description: Type information not available yet
        variant:
          description: Type information not available yet
        commit:
          description: Type information not available yet
        composition:
          description: Type information not available yet
        status:
          description: Type information not available yet
        source:
          description: Type information not available yet
        build_log:
          description: Type information not available yet
        start_timestamp:
          description: Type information not available yet
        end_timestamp:
          description: Type information not available yet
        update_timestamp:
          description: Type information not available yet
        is_invalidated:
          description: Type information not available yet
        release_version:
          description: Type information not available yet
        contract:
          description: Type information not available yet
    release_tag:
      type: object
      title: Release tag Model
      properties:
        id:
          description: Type information not available yet
        release:
          description: Type information not available yet
        tag_key:
          description: Type information not available yet
        value:
          description: Type information not available yet
    service:
      type: object
      title: Service Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        application:
          description: Type information not available yet
        service_name:
          description: Type information not available yet
    service_install:
      type: object
      title: Service install Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        device:
          description: Type information not available yet
        installs__service:
          description: Type information not available yet
    user__has__public_key:
      type: object
      title: SSH key Model
      properties:
        id:
          description: Type information not available yet
        user:
          description: Type information not available yet
        title:
          description: Type information not available yet
        public_key:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
    team:
      type: object
      title: Team Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        name:
          description: Type information not available yet
        description:
          description: Type information not available yet
        belongs_to__organization:
          description: Type information not available yet
    team_fleet_access:
      type: object
      title: Team Fleet Access Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        team:
          description: Type information not available yet
        grants_access_to__application:
          description: Type information not available yet
        application_membership_role:
          description: Type information not available yet
    team_membership:
      type: object
      title: Team Membership Model
      properties:
        id:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
        user:
          description: Type information not available yet
        is_member_of__team:
          description: Type information not available yet
    user:
      type: object
      title: User Model
      properties:
        id:
          description: Type information not available yet
        actor:
          description: Type information not available yet
        username:
          description: Type information not available yet
        created_at:
          description: Type information not available yet
    whoami:
      type: object
      title: Who am I Model
      properties:
        id:
          description: Type information not available yet
        username:
          description: Type information not available yet
        email:
          description: Type information not available yet
paths:
  /v7/api_key:
    get:
      tags:
        - API key
      description: |-
        ## API key Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `is_of__actor` |
        | `name` |
        | `description` |


        ---
  /v7/api_key(<ID>):
    patch:
      tags:
        - API key
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/device:
    get:
      tags:
        - Device
      description: |-
        ## Device Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `belongs_to__application` |
        | `belongs_to__user` |
        | `actor` |
        | `device_name` |
        | `is_of__device_type` |
        | `uuid` |
        | `is_running__release` |
        | `is_pinned_on__release` |
        | `should_be_running__release` |
        | `note` |
        | `local_id` |
        | `status` |
        | `overall_status` |
        | `is_online` |
        | `last_connectivity_event` |
        | `is_connected_to_vpn` |
        | `last_vpn_event` |
        | `ip_address` |
        | `mac_address` |
        | `public_address` |
        | `os_version` |
        | `os_variant` |
        | `supervisor_version` |
        | `should_be_managed_by__release` |
        | `is_managed_by__service_instance` |
        | `provisioning_progress` |
        | `provisioning_state` |
        | `download_progress` |
        | `is_web_accessible` |
        | `longitude` |
        | `latitude` |
        | `location` |
        | `custom_longitude` |
        | `custom_latitude` |
        | `is_locked_until__date` |
        | `is_accessible_by_support_until__date` |
        | `created_at` |
        | `is_active` |
        | `api_heartbeat_state` |
        | `memory_usage` |
        | `memory_total` |
        | `storage_block_device` |
        | `storage_usage` |
        | `storage_total` |
        | `cpu_temp` |
        | `cpu_usage` |
        | `cpu_id` |
        | `is_undervolted` |


        ---
  /v7/device(<ID>):
    get:
      tags:
        - Device
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    patch:
      tags:
        - Device
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Device
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/device(uuid='<UUID>'):
    get:
      tags:
        - Device
      parameters:
        - name: UUID
          in: path
          required: true
      description: ''
    patch:
      tags:
        - Device
      parameters:
        - name: UUID
          in: path
          required: true
      description: ''
  /v7/device_config_variable:
    get:
      tags:
        - Device config variable
      description: |-
        ## Device config variable Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `device` |
        | `value` |
        | `name` |


        ---
    post:
      tags:
        - Device config variable
      description: ''
  /v7/device_config_variable(<ID>):
    patch:
      tags:
        - Device config variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Device config variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/device_environment_variable:
    get:
      tags:
        - Device Environment Variable
      description: |-
        ## Device Environment Variable Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `device` |
        | `name` |
        | `value` |


        ---
    post:
      tags:
        - Device Environment Variable
      description: ''
  /v7/device_environment_variable(<ID>):
    patch:
      tags:
        - Device Environment Variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Device Environment Variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/device_service_environment_variable:
    get:
      tags:
        - Device service variable
      description: |-
        ## Device service variable Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `service_install` |
        | `value` |
        | `name` |


        ---
    post:
      tags:
        - Device service variable
      description: ''
  /v7/device_service_environment_variable(<ID>):
    patch:
      tags:
        - Device service variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Device service variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/device_tag:
    get:
      tags:
        - Device tag
      description: |-
        ## Device tag Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `device` |
        | `tag_key` |
        | `value` |


        ---
    post:
      tags:
        - Device tag
      description: ''
  /v7/device_tag(device=<DEVICE_ID>,tag_key='<EXISTING-KEY>'):
    patch:
      tags:
        - Device tag
      parameters:
        - name: DEVICE_ID
          in: path
          required: true
        - name: EXISTING-KEY
          in: path
          required: true
      description: ''
  /v7/device_tag(<TAG-ID>):
    delete:
      tags:
        - Device tag
      parameters:
        - name: TAG-ID
          in: path
          required: true
      description: ''
  /v7/device_type(<ID>):
    get:
      tags:
        - Device type
      parameters:
        - name: ID
          in: path
          required: true
      description: |-
        ## Device type Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `slug` |
        | `name` |
        | `is_private` |
        | `is_of__cpu_architecture` |
        | `belongs_to__device_family` |


        ---
  /v7/device_type(slug='<DEVICE TYPE SLUG>'):
    get:
      tags:
        - Device type
      parameters:
        - name: DEVICE TYPE SLUG
          in: path
          required: true
      description: ''
  /v7/device_type:
    get:
      tags:
        - Device type
      description: ''
  /v7/application:
    get:
      tags:
        - Fleet
      description: |-
        ## Fleet Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `uuid` |
        | `organization` |
        | `actor` |
        | `app_name` |
        | `slug` |
        | `should_be_running__release` |
        | `application_type` |
        | `is_for__device_type` |
        | `should_track_latest_release` |
        | `is_accessible_by_support_until__date` |
        | `is_public` |
        | `is_host` |
        | `is_archived` |
        | `is_discoverable` |
        | `is_stored_at__repository_url` |
        | `created_at` |


        ---
    post:
      tags:
        - Fleet
      description: ''
  /v7/application(<ID>):
    get:
      tags:
        - Fleet
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Fleet
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    patch:
      tags:
        - Fleet
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/application(slug='<SLUG>'):
    get:
      tags:
        - Fleet
      parameters:
        - name: SLUG
          in: path
          required: true
      description: ''
    patch:
      tags:
        - Fleet
      parameters:
        - name: SLUG
          in: path
          required: true
      description: ''
  /v7/application_config_variable:
    get:
      tags:
        - Fleet config variable
      description: |-
        ## Fleet config variable Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `application` |
        | `name` |
        | `value` |


        ---
    post:
      tags:
        - Fleet config variable
      description: ''
  /v7/application_config_variable(<ID>):
    patch:
      tags:
        - Fleet config variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Fleet config variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/application_environment_variable:
    get:
      tags:
        - Fleet environment variable
      description: |-
        ## Fleet environment variable Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `application` |
        | `name` |
        | `value` |


        ---
    post:
      tags:
        - Fleet environment variable
      description: ''
  /v7/application_environment_variable(<ID>):
    patch:
      tags:
        - Fleet environment variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Fleet environment variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/application_membership_role:
    get:
      tags:
        - Fleet membership role
      description: |-
        ## Fleet membership role Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `name` |


        ---
  /v7/service_environment_variable:
    get:
      tags:
        - Fleet service variable
      description: |-
        ## Fleet service variable Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `service_install` |
        | `value` |
        | `name` |


        ---
    post:
      tags:
        - Fleet service variable
      description: ''
  /v7/service_environment_variable(<ID>):
    patch:
      tags:
        - Fleet service variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Fleet service variable
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/application_tag:
    get:
      tags:
        - Fleet tag
      description: |-
        ## Fleet tag Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `application` |
        | `tag_key` |
        | `value` |


        ---
    post:
      tags:
        - Fleet tag
      description: ''
  /v7/application_tag/(<ID>):
    patch:
      tags:
        - Fleet tag
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Fleet tag
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/organization:
    get:
      tags:
        - Organization
      description: |-
        ## Organization Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `name` |
        | `handle` |
        | `company_name` |
        | `website` |
        | `industry` |
        | `billing_account_code` |


        ---
  /v7/organization(<ID>):
    get:
      tags:
        - Organization
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/organization(handle='<HANDLE>'):
    get:
      tags:
        - Organization
      parameters:
        - name: HANDLE
          in: path
          required: true
      description: ''
  /v7/organization_membership:
    get:
      tags:
        - Organization Membership
      description: |-
        ## Organization Membership Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `user` |
        | `is_member_of__organization` |
        | `organization_membership_role` |
        | `effective_seat_role` |


        ---
  /v7/release:
    get:
      tags:
        - Release
      description: |-
        ## Release Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `belongs_to__application` |
        | `is_created_by__user` |
        | `raw_version` |
        | `semver` |
        | `semver_major` |
        | `semver_minor` |
        | `semver_patch` |
        | `semver_prerelease` |
        | `semver_build` |
        | `revision` |
        | `variant` |
        | `commit` |
        | `composition` |
        | `status` |
        | `source` |
        | `build_log` |
        | `start_timestamp` |
        | `end_timestamp` |
        | `update_timestamp` |
        | `is_invalidated` |
        | `release_version` |
        | `contract` |


        ---
  /v7/release(<ID>):
    get:
      tags:
        - Release
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/release_tag:
    get:
      tags:
        - Release tag
      description: |-
        ## Release tag Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `release` |
        | `tag_key` |
        | `value` |


        ---
    post:
      tags:
        - Release tag
      description: ''
  /v7/service:
    get:
      tags:
        - Service
      description: |-
        ## Service Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `application` |
        | `service_name` |


        ---
  /v7/service_install:
    get:
      tags:
        - Service install
      description: |-
        ## Service install Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `device` |
        | `installs__service` |


        ---
  /v7/user__has__public_key:
    get:
      tags:
        - SSH key
      description: |-
        ## SSH key Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `user` |
        | `title` |
        | `public_key` |
        | `created_at` |


        ---
    post:
      tags:
        - SSH key
      description: ''
  /v7/user__has__public_key(<ID>):
    get:
      tags:
        - SSH key
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - SSH key
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/team:
    get:
      tags:
        - Team
      description: |-
        ## Team Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `name` |
        | `description` |
        | `belongs_to__organization` |


        ---
    post:
      tags:
        - Team
      description: ''
  /v7/team(<ID>):
    get:
      tags:
        - Team
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
    delete:
      tags:
        - Team
      parameters:
        - name: ID
          in: path
          required: true
      description: ''
  /v7/team_application_access:
    get:
      tags:
        - Team Fleet Access
      description: |-
        ## Team Fleet Access Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `team` |
        | `grants_access_to__application` |
        | `application_membership_role` |


        ---
  /v7/team_membership:
    get:
      tags:
        - Team Membership
      description: |-
        ## Team Membership Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `created_at` |
        | `user` |
        | `is_member_of__team` |


        ---
  /v7/user:
    get:
      tags:
        - User
      description: |-
        ## User Resource Fields

        | Field |
        | :--- |
        | `id` |
        | `actor` |
        | `username` |
        | `created_at` |


        ---
  /v7/user__is_member_of__application:
    get:
      tags:
        - User
      description: ''
    post:
      tags:
        - User
      description: ''
  /v7/user__is_member_of__application(is_member_of__application=<ID>,user=<USER ID>):
    delete:
      tags:
        - User
      parameters:
        - name: ID
          in: path
          required: true
        - name: USER ID
          in: path
          required: true
      description: ''
security:
  - bearerAuth: []
