body {
	/* The default font size in bootstrap is far too small. */
	font-size: 13pt !important;

	text-align: justify;
}

h1,h2,h3,h4 {
	text-align: left;
}

h2 {
	/* Headers are too close to the text beneath them. */
	margin-bottom: 1em !important;
}

td,th {
	text-align: center;
}

/* Centre the text and don't use so much screen real estate. */
#md-body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Don't want ugly borders on images. */
.img-thumbnail {
	border: none;
}

/* Centre images. */
.md-image-group {
	text-align: center;
}

/* Centre the getting started video. */
.getting-started-vid {

	display: block;
	margin-left: auto;
	margin-right: auto;
}
