@import "tooltips.css";

body {
  margin-top: 61px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #f8f9fd;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
}

.content-wrapper {
  min-height: 1371px;
  background: white;
  border-right: 1px solid #e7e9ec;
}

.page-content-wrapper {
  max-width: 1035px;
  padding-top: 41px;
  padding-bottom: 100px;
  padding-left: 55px;
  padding-right: 55px;
}

.header-wrapper {
  min-height: 57px;
}

.improve-docs {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.03px;
  line-height: 17px;
  margin-left: 20px;
  padding: 11px 18px;
  margin-right: 1px;
  margin-top: 1px;
}

@media (max-width: 767px) {
  .improve-docs {
    float: none;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}

article {
  padding-left: 231px;
}

article .sticky {
  width: 100%;
}
article .headroom {
  width: 100%;
}

.sidebar {
  float: left;
  padding: 0;
  width: 231px;
}

.sidebar .site-navigation .nav-tabs > li > a,
.sidebar .site-navigation .nav-tabs > li > a:hover,
.sidebar .site-navigation .nav-tabs > li > a:focus {
  border-radius: 0;
  background: #868583;
  border: 0;
  border-left: 1px solid #9e9e9d;
  border-bottom: 1px solid transparent;
  font-weight: normal;
  color: white;
}

.sidebar .site-navigation .nav-tabs > li:first-child > a {
  border-left: 0;
}

.sidebar .site-navigation .nav-tabs > li.active > a {
  background: #f7f7f9;
  border-bottom-color: #f7f7f9;
  color: #5d5f62;
}

.sidebar .nav-menu {
  padding-top: 10px;
}

.sidebar .nav-menu a {
  font-size: 13px;
  color: #00aeef;
  display: block;
  padding: 0;
}

.sidebar .nav-menu h3 {
  border-bottom: 1px solid #e6e8eb;
}

.sidebar .nav-menu h3.active.with-children {
  border-bottom: 0;
}

.sidebar .nav-menu h3 a {
  padding-left: 30px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #527699;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
  text-decoration: none;
}

.sidebar .nav-menu h3.active a {
  color: black;
}

.sidebar .nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.sidebar .nav-menu ul.expand {
  display: block;
}

.sidebar .nav-menu ul ul {
  padding-left: 10px;
}

.sidebar .nav-menu h3 + ul.expand {
  border-bottom: 1px solid #e6e8eb;
  padding-bottom: 20px;
}
.sidebar .nav-menu li {
  padding: 10px 0;
  padding-left: 30px;
}

.sidebar .nav-menu li:hover {
  background: #ececef;
}

.sidebar .nav-menu a:hover {
  text-decoration: none;
}

.sidebar .nav-menu li.active a {
  font-weight: 600;
  text-decoration: none;
}

.sidebar .nav-menu .in-page-nav a {
  padding-left: 10px;
}

.sidebar .nav-menu .in-page-nav li.active {
  background: transparent;
}

.sidebar .nav-menu .in-page-nav li.active a {
  font-weight: bold;
  color: #6b6d73;
}

.sidebar .search-wrapper .algolia-wrapper {
  border-bottom: 1px solid #e6e8eb;
  border-right: 1px solid #e6e8eb;
  padding: 10px;
  padding-bottom: 9px;
  background: #f7f7f7;
}

.sidebar .search-wrapper .algolia-wrapper .algolia-autocomplete {
  width: 100%;
}

.sidebar .search-wrapper {
  min-height: 57px;
  width: 231px;
  z-index: 100;
}

.sidebar .search-wrapper input {
  height: 37px;
}

.breadcrumb {
  background: white;
  margin: 0;
  padding: 18px 15px;
  font-size: 14px;
  border-radius: 0;
  border-bottom: 1px solid #e6e8eb;
}

.breadcrumb li {
  color: #898a8d;
}

.breadcrumb .active {
  color: #444547;
  font-weight: 600;
}

.page-content {
  font-size: 14px;
  line-height: 1.6;
  color: #606060;
}

.page-content p,
ul,
ol {
  margin-top: 16px;
  margin-bottom: 16px;
}

.page-content a {
  color: #00aeef;
}

.page-content a:hover {
  color: #009dd7;
}

.page-content img {
  max-width: 100%;
  margin: 50px auto;
  display: block;
}

/* .page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  font-family: "Source Sans Pro";
  color: #2a506f;
} */

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
  padding-top: 20px;
  margin-bottom: 27px;
}

.page-content h1 {
  font-size: 34px;
  line-height: 44px;
  margin-top: 0;
  padding-top: 0;
  letter-spacing: 0.1px;
}

.page-content h2 {
  font-size: 24px;
  border-bottom: 1px solid #e6e8eb;
  padding-bottom: 17px;
  margin-top: 0;
  letter-spacing: 0.1px;
}

.page-content h3 {
  font-size: 24px;
  letter-spacing: 0.1px;
}

.page-content h4 {
  font-size: 18px;
  margin-top: 33px;
  margin-bottom: 18px;
  letter-spacing: 0.1px;
}

.page-content h5 {
  font-size: 16px;
  letter-spacing: 0.1px;
}

.page-content code {
  color: #f04949;
  background: #ffefef;
}

.page-content pre {
  background: #343434;
  color: white;
  border: none;
  padding: 15px;
  margin-bottom: 30px;
}

.page-content pre code {
  color: inherit;
  background: transparent;
}

.alert {
  border-radius: 3px;
  font-size: 15px;
  padding: 20px 30px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.078);
  margin-bottom: 50px;
}

.alert p {
  margin: 0;
  padding: 0;
}

.alert-note {
  background: #fcf8e3;
  /*/background-image: url('/img/note-bg.png');*/
  background-repeat: repeat-x;
  background-position: top left;
  color: #8a6d3b;
  border-color: #faebcc;
}

.alert-warning {
  color: #a94445;
  /*background-image: url('/img/warning-bg.png');*/
  background-repeat: no-repeat;
  background-position: 104% 19%;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.colorbox-img-wrappper {
  outline: none !important;
}

.hash {
  display: none;
}

h2:hover .hash,
h3:hover .hash,
h4:hover .hash,
h5:hover .hash,
h6:hover .hash {
  display: inline-block;
}

.headroom {
  top: 0;
  transition: all 0.3s ease-in-out;
}

.headroom--unpinned {
  top: -100px;
}
.headroom--pinned {
  top: 0;
}
.headroom--top {
  position: relative;
}
.headroom--not-top {
  position: fixed;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  box-shadow: 0px -1px 6px 0px rgba(194, 194, 194, 1);
  z-index: 100;
}

header.sticky {
  box-shadow: 2px -1px 6px 0px rgba(194, 194, 194, 1);
}

.btn-info {
  background-color: #3c9dd0;
  border-color: #3c9dd0;
  border-radius: 3px;
}
.btn-info:hover {
  background-color: #2f8cbd;
  border-color: #2f8cbd;
}

.btn-primary {
  color: #474747;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary:hover {
  color: #474747;
  background-color: #ffffff;
  border-color: #ffffff;
}

/* dynamic-switch */
.dynamic-switch {
  background: #23445e;
  color: white;
}

.dynamic-switch a {
  color: #00aeef;
}

.dynamic-switch .dynamic-switch__append {
  margin-top: 10px;
  margin-bottom: 0;
}

.dynamic-switch__form {
  font-weight: bold;
}

.dynamic-switch__select,
.form-group .bootstrap-select.dynamic-switch__select,
.form-horizontal .bootstrap-select.dynamic-switch__select,
.form-inline .bootstrap-select.dynamic-switch__select {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .dynamic-switch__select,
  .form-group .bootstrap-select.dynamic-switch__select,
  .form-horizontal .bootstrap-select.dynamic-switch__select,
  .form-inline .bootstrap-select.dynamic-switch__select {
    margin-left: 0;
    margin-right: 0;
  }

  .page-content-wrapper {
    padding: 24px 16px 0;
  }
}

.dynamic-switch__select__icon {
  display: inline-block;
  height: 20px;
}

.image-row {
  display: inline-block;
}

.image-row figure {
  float: left;
  text-align: center;
  margin: 0px 10px;
}

.image-row img {
  margin: 0;
  height: 120px;
}

img.device_icon {
  display: inline-block;
  text-align: center;
  margin: 0;
  height: 1em;
}

/* "Copy" code block button */
pre {
  position: relative;
}

.btnClipboard {
  display: none;
}

pre .btnIcon {
  position: absolute;
  top: 14px;
  z-index: 2;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  color: #fff;
  background-color: transparent;
  height: 30px;
  transition: all 0.25s ease-out;
}

pre:hover .btnClipboard {
  display: block;
  right: 15px;
  background-color: #191b1c;
  background-position: center center;
  border-radius: 8px;
  padding-left: 8px;
  padding-top: 3px;
}

.btnIcon__body {
  align-items: center;
  display: flex;
}

.btnIcon svg {
  fill: currentColor;
  margin-right: 0.5em;
}
