.navbar {
  text-align: center;
  margin-bottom: 11px;
}

.navbar-nav {
  float: none;
}
.navbar-nav.navbar-right {
  margin-right: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar .navbar-nav > li > a {
  line-height: 0.9;
}
.navbar .navbar-nav > li > a.btn-primary {
  color: #474747;
}

.navbar-right.menu__items {
  margin-top: 15px;
}

.navbar-left {
  margin-left: 50px;
}

.menu--top {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #2d2d2d;
}
.menu__nav {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.menu__nav .navbar-brand {
  color: #ffffff;
}
.menu__nav .navbar-brand:hover,
.menu__nav .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.menu__nav .navbar-text {
  color: #ffffff;
}
.menu__nav .navbar-nav > li > a {
  color: #ffffff;
}
.menu__nav .navbar-nav > li > a:hover,
.menu__nav .navbar-nav > li > a:focus {
  color: #fcc100;
  background-color: transparent;
}
.menu__nav .navbar-nav > .active > a,
.menu__nav .navbar-nav > .active > a:hover,
.menu__nav .navbar-nav > .active > a:focus {
  color: #fcc100;
  background-color: rgba(0, 0, 0, 0);
}
.menu__nav .navbar-nav > .disabled > a,
.menu__nav .navbar-nav > .disabled > a:hover,
.menu__nav .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.menu__nav .navbar-toggle {
  border-color: #dddddd;
}
.menu__nav .navbar-toggle:hover,
.menu__nav .navbar-toggle:focus {
  background-color: #dddddd;
}
.menu__nav .navbar-toggle .icon-bar {
  background-color: #888888;
}
.menu__nav .navbar-collapse,
.menu__nav .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}
.menu__nav .navbar-nav > .open > a,
.menu__nav .navbar-nav > .open > a:hover,
.menu__nav .navbar-nav > .open > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #fcc100;
}
@media (max-width: 767px) {
  .menu__nav .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .menu__nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .menu__nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fcc100;
    background-color: transparent;
  }
  .menu__nav .navbar-nav .open .dropdown-menu > .active > a,
  .menu__nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .menu__nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fcc100;
    background-color: rgba(0, 0, 0, 0);
  }
  .menu__nav .navbar-nav .open .dropdown-menu > .disabled > a,
  .menu__nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .menu__nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.logo__img {
  display: inline-block;
  height: 34px;
}
.logo__text {
  display: none;
  margin-top: 5px;
  font-size: 28px;
  font-size: 2.8rem;
  text-transform: lowercase;
}
.logo__text:hover {
  color: #fcc100;
}

.menu__nav .navbar-link {
  color: #ffffff;
}
.menu__nav .navbar-link:hover {
  color: #fcc100;
}
.menu__nav .btn-link {
  color: #ffffff;
}
.menu__nav .btn-link:hover,
.menu__nav .btn-link:focus {
  color: #fcc100;
}
.menu__nav .btn-link[disabled]:hover,
fieldset[disabled] .menu__nav .btn-link:hover,
.menu__nav .btn-link[disabled]:focus,
fieldset[disabled] .menu__nav .btn-link:focus {
  color: #cccccc;
}
.menu__item {
  letter-spacing: 1.1px;
  margin-left: 43px;
}
@media (max-width: 800px) {
  .menu__item {
    margin-left: 23px;
  }
}
@media (max-width: 992px) {
  .menu__item {
    margin-left: 16px;
  }
}
.menu__item:first-child {
  margin-left: 0;
}

.menu__item--btn-group {
  letter-spacing: -0.2px;
}
.menu__item--btn-group .btn {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 5px;
  color: #474747;
  background-color: #fcc100;
  border-color: #fcc100;
  font-size: inherit;
}
.menu__item--btn-group .btn:hover,
.menu__item--btn-group .btn:focus,
.menu__item--btn-group .btn:active,
.menu__item--btn-group .btn.active,
.open > .dropdown-toggle.menu__item--btn-group .btn {
  color: #474747;
  background-color: #c99a00;
  border-color: #bf9200;
}
.menu__item--btn-group .btn:active,
.menu__item--btn-group .btn.active,
.open > .dropdown-toggle.menu__item--btn-group .btn {
  background-image: none;
}
.menu__item--btn-group .btn.disabled,
.menu__item--btn-group .btn[disabled],
fieldset[disabled] .menu__item--btn-group .btn,
.menu__item--btn-group .btn.disabled:hover,
.menu__item--btn-group .btn[disabled]:hover,
fieldset[disabled] .menu__item--btn-group .btn:hover,
.menu__item--btn-group .btn.disabled:focus,
.menu__item--btn-group .btn[disabled]:focus,
fieldset[disabled] .menu__item--btn-group .btn:focus,
.menu__item--btn-group .btn.disabled:active,
.menu__item--btn-group .btn[disabled]:active,
fieldset[disabled] .menu__item--btn-group .btn:active,
.menu__item--btn-group .btn.disabled.active,
.menu__item--btn-group .btn[disabled].active,
fieldset[disabled] .menu__item--btn-group .btn.active {
  background-color: #fcc100;
  border-color: #fcc100;
}
.menu__item--btn-group .btn .badge {
  color: #fcc100;
  background-color: #474747;
}
.menu__item--btn-group .btn:last-child {
  padding-right: 15px;
}
.menu__item--btn-group .btn:first-child {
  padding-left: 15px;
}
.menu__item--btn-group .btn:first-child:hover:after {
  display: none;
}
.menu__item--btn-group .btn:first-child:after {
  content: "";
  width: 1px;
  background: #000;
  height: 10px;
  position: absolute;
  margin-left: 9px;
  margin-top: 4px;
  zoom: 1;
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.menu__items {
  margin-top: 10px;
}
.menu__items--small {
  margin-top: 26px;
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 1.3px;
  zoom: 1;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.menu__items--small .menu__item {
  margin-left: 20px;
}
.menu__items--small .menu__item:first-child {
  margin-left: 0;
}
.menu__nav li > a {
  padding: 14px 0;
}
.menu__nav li.menu__item--button > a {
  padding: 13px 16px;
  color: #474747;
}
.menu--bottom .menu__items {
  margin-top: 136px;
}
.menu--top-sticky {
  background-color: #272725;
  background-color: rgba(39, 39, 37, 0.95);
  position: fixed;
}
.menu--top-sticky .menu__nav {
  min-height: 40px;
}
.menu--top-sticky .menu__items {
  margin-top: 0;
}
.menu--top-sticky .menu__logo {
  padding: 0;
}
.menu--top-sticky .menu__logo .logo__img {
  display: none;
}
.menu--top-sticky .menu__logo .logo__text {
  display: inline-block;
}

@media (max-width: 992px) {
  .menu__logo {
     width: 30px;
     padding: 15px 0;
  }
}
@media (max-width: 768px) {
  .menu__logo {
    margin-left: -30px;
  }
}

.navbar--mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background: #323232;
  border: none;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.navbar--mobile .navbar-header {
  background-color: #383838;
  height: 56px;
}
.navbar--mobile .navbar-header .btn {
  margin-top: 10px;
  padding: 5px 15px;
}
.navbar--mobile .navbar-brand {
  position: static;
  margin: 9px 0 0 0;
  padding: 0 0 0 10px;
  display: block;
  width: 50px;
  height: 45px;
}
.navbar--mobile .navbar-brand .logo__img {
  height: 40px;
}
.navbar--mobile .navbar-collapse {
  width: 100%;
  max-height: none;
  padding: 0px;
}
.navbar--mobile .navbar-collapse ul {
  list-style: none;
  padding: 0px;
}
.navbar--mobile .navbar-collapse li {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #2A2A2A;
}
.navbar--mobile .navbar-collapse a {
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
}
.navbar--mobile .navbar-toggle {
  background: #323232 !important;
  border: none;
  margin: 0;
  width: 56px;
  height: 56px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.navbar--mobile .navbar-toggle:focus,
.navbar--mobile .navbar-toggle:hover {
  background: none;
}
.navbar--mobile .navbar-toggle.collapsed {
  background: none !important;
}
.navbar--mobile .navbar-toggle .icon-bar {
  position: relative;
  height: 3px;
  margin-left: 9px;
  width: 18x;
  background-color: #fff;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar--mobile .navbar-toggle .icon-bar.active:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}
.navbar--mobile .navbar-toggle .icon-bar.active:nth-of-type(2) {
  background-color: transparent;
}
.navbar--mobile .navbar-toggle .icon-bar.active:nth-of-type(3) {
  top: -8px;
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .navbar--mobile {
    display: block;
  }
  .menu--top, .container-fluid .sidebar {
    display: none;
  }
  article {
    padding-left: 0;
  }
  article header {
    display: none;
  }
  body {
    background: none;
    margin-top: 112px;
  }
  .page-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-default {
  z-index: 2;
}
.navbar-default .navbar-collapse {
  border-color: inherit;
}

.navbar-submenu {
  top: 56px;
  background-color: #F7F7F7;
  text-align: left;
  z-index: 1;
}
.navbar-submenu a {
  color: #429ece!important;
}
.navbar-submenu .navbar-header {
  background-color: #429ece;
  text-align: left;
}
.navbar-submenu .navbar-header a {
  color: white!important;
  padding-left: 20px;
  line-height: 53px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  display: inline-block;
}
.navbar-submenu .navbar-header a:hover {
  text-decoration: none;
}
.navbar-submenu .caret {
  color: rgba(0, 0, 0, 0.3)!important;
  border-width: 6px;
}
.navbar-submenu .active a {
  color: white!important;
}
.navbar-submenu .caret.active {
  border-top-width: 0;
  border-bottom: 6px solid rgba(0, 0, 0, 0.3);
}
.navbar-submenu .sidebar {
  float: none;
  width: auto;
}
.navbar-submenu .navbar-collapse li {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}