<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
  docsearch({
    container: '.search-default-wrapper',
    appId: 'BH4D9OD16A',
    indexName: 'balena',
    apiKey: 'dabd8d15d83b81d05cfb4a1f16689b7f',
    getMissingResultsUrl: ({ query }) => {
      return `https://github.com/balena-io/docs/issues/new?title=${query}`;
    },
  });
  docsearch({
    container: '.search-404-wrapper',
    appId: 'BH4D9OD16A',
    indexName: 'balena',
    apiKey: 'dabd8d15d83b81d05cfb4a1f16689b7f',
    getMissingResultsUrl: ({ query }) => {
      return `https://github.com/balena-io/docs/issues/new?title=${query}`;
    },
  });
  docsearch({
    container: '.search-mobile-wrapper',
    appId: 'BH4D9OD16A',
    indexName: 'balena',
    apiKey: 'dabd8d15d83b81d05cfb4a1f16689b7f',
    getMissingResultsUrl: ({ query }) => {
      return `https://github.com/balena-io/docs/issues/new?title=${query}`;
    },
  });
</script>