<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">
  docsearch({
    container: '.search-default-wrapper',
    appId: '4EQM7V9GDL',
    indexName: 'balena',
    apiKey: 'f2b03b5501c60a190809904a4e684f25',
    getMissingResultsUrl: ({ query }) => {
      return `https://github.com/balena-io/docs/issues/new?title=${query}`;
    },
  });
  docsearch({
    container: '.search-404-wrapper',
    appId: '4EQM7V9GDL',
    indexName: 'balena',
    apiKey: 'f2b03b5501c60a190809904a4e684f25',
    getMissingResultsUrl: ({ query }) => {
      return `https://github.com/balena-io/docs/issues/new?title=${query}`;
    },
  });
  docsearch({
    container: '.search-mobile-wrapper',
    appId: '4EQM7V9GDL',
    indexName: 'balena',
    apiKey: 'f2b03b5501c60a190809904a4e684f25',
    getMissingResultsUrl: ({ query }) => {
      return `https://github.com/balena-io/docs/issues/new?title=${query}`;
    },
  });
</script>