<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" type="text/javascript"></script>
<script type="text/javascript">

  (function () {
    var archAliasMap = {
      rpi: 'armv6hf',
    };
    // The following pine cllient query was used to generate the OData url below.
    // TODO: Start using the sdk in the docs and use the call directly.
    // await sdk.pine.get({
    //     resource: 'device_type',
    //     options: {
    //         $select: ['name', 'slug', 'logo'],
    //         $expand: {
    //             is_of__cpu_architecture: {
    //                 $select: 'slug'
    //             }
    //         },
    //         $filter: {
    //             is_default_for__application: {
    //                 $any: {
    //                     $alias: 'idfa',
    //                     $expr: {
    //                         idfa: {
    //                             is_host: true,
    //                             is_archived: false,
    //                         },
    //                         $not: {
    //                             idfa: {
    //                                 app_name: {
    //                                     $contains: 'esr',
    //                                 }
    //                             }
    //                         }
    //                     },
    //                 },
    //             },
    //         },
    //         $orderby: {
    //             name: 'asc',
    //         }
    //     }
    // })
    window.jQuery
      .ajax({
        url: "https://api.balena-cloud.com/v6/device_type?$select=name,slug,logo&$expand=is_of__cpu_architecture($select=slug)&$filter=is_default_for__application/any(idfa:((idfa/is_host%20eq%20true)%20and%20(idfa/is_archived%20eq%20false))%20and%20not(contains(idfa/app_name,%27esr%27)))&$orderby=name%20asc"
      })
      .done(function (deviceTypesResponse) {
        var table = _(deviceTypesResponse.d)
          .reduce(function (acc, deviceType) {
            var archSlug = deviceType.is_of__cpu_architecture[0].slug;
            if (archAliasMap[archSlug]) {
              archSlug = archAliasMap[archSlug];
            }
            var tableCell =
              "<tr> <td>" +
              "<img class='device_icon' src=" + deviceType.logo + " />" +
              "</td> <td>" +
              deviceType.name +
              "</td> <td>" +
              deviceType.slug +
              "</td> <td>" +
              archSlug +
              "</td> </tr>";
            return acc + tableCell;
          }, "");

        return window.jQuery("#support_devices_table").append(table);
      })
      .fail(function (error) {
        console.error(error)
        return window
          .jQuery("#support_devices_table")
          .append(
            '<tr><td colspan="4">Something went wrong.</td></tr>'
          );
      });

  }.call(this));

</script>