{% macro navNode(subtree) %}
  {% if subtree.children %}
    {% if subtree|navIsCurrentTree($nav) %}
      {% set isCurrentSubtree = true %}
    {% else %}
      {% set isCurrentSubtree = false %}
    {% endif %}
    <ul class="nav {% if isCurrentSubtree %}expand{% endif %}">
      {% for child in subtree.children %}
        {% if child|navIsCurrentPage($nav) %}
          {% set isCurrentLink = true %}
        {% else %}
          {% set isCurrentLink = false %}
        {% endif %}
        <li class="{% if isCurrentLink %}active{% endif %}">
          <a href="{{ child|navGetLink($nav) }}">
            {{ child|navGetTitle($nav) }}
          </a>
        </li>
        {% if isCurrentLink and !child.isGateway and headings %}
          <div class="in-page-nav">
            <ul class="nav expand">
              {% for heading in headings %}
                <li><a href="#{{ heading.id }}">{{ heading.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {{ navNode(child) }}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro navTab(subtrees) %}
  <div class="nav-menu">
    {% for subtree in subtrees %}
      <h3 class="
        {% if subtree.children %}with-children{% endif %}
        {% if subtree|navIsCurrentTree($nav) %}active{% endif %}
      ">
        <a href="{{ subtree|navGetLink($nav) }}">
          {{ subtree|navGetTitle($nav) }}
        </a>
      </h3>
      {{ navNode(subtree) }}
    {% endfor %}
  </div>
{% endmacro %}

<nav class="site-navigation">
  <div class="tab-content">
    {% for navTree in nav.children %}
      {% if navTree|navIsCurrentTree($nav) || (!$nav.path && loop.first) %}
        {% set isActive = true %}
      {% else %}
        {% set isActive = false %}
      {% endif %}
      <div class="tab-pane {% if isActive %}active{% endif %}">
        {{ navTab(navTree.children) }}
      </div>
    {% endfor %}
  </div>
</nav>
