{% macro navNode(subtree) %}
  {% if subtree.children %}
    {% if subtree|isCurrentTree(navPath) %}
      {% set isCurrentSubtree = true %}
    {% else %}
      {% set isCurrentSubtree = false %}
    {% endif %}
    <ul class="{% if isCurrentSubtree %}expand{% endif %}">
      {% for child in subtree.children %}
        {% if child|isCurrentPage(selfLink, navPath) %}
          {% set isCurrentLink = true %}
        {% else %}
          {% set isCurrentLink = false %}
        {% endif %}
        <li class="{% if isCurrentLink %}active{% endif %}">
          <a href="{{ child|getLink(selfLink, navPath) }}">
            {{ child|getTitle(selfLink, navPath,
              breadcrumbs[breadcrumbs.length - 1]) }}
          </a>
        </li>
        {% if isCurrentLink and !child.isGateway and headings %}
          <div class="in-page-nav">
            <ul class="expand nav">
              {% for heading in headings %}
                <li><a href="#{{ heading.id }}">{{ heading.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {{ navNode(child) }}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro navTab(subtrees) %}
  <div class="nav-menu">
    {% for subtree in subtrees %}
      <h3 class="
        {% if subtree.children %}with-children{% endif %}
        {% if navPath[subtree.$id] %}active{% endif %}
      ">
        <a href="{{ subtree|getLink(selfLink, navPath) }}">
          {{ subtree|getTitle(selfLink, navPath,
            breadcrumbs[breadcrumbs.length - 1]) }}
        </a>
      </h3>
      {{ navNode(subtree) }}
    {% endfor %}
  </div>
{% endmacro %}

<nav class="site-navigation">
  <ul class="nav nav-tabs nav-justified">
    {# todo: remove duplication here and below #}
    {% for navTree in nav.children %}
      {% if (navPath && navPath[navTree.$id]) || (!navPath && loop.first) %}
        {% set isActive = true %}
      {% else %}
        {% set isActive = false %}
      {% endif %}
      <li class="{% if isActive %}active{% endif %}">
        <a href="#tab-{{ navTree.slug }}" data-toggle="tab">
          {{ navTree.title }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for navTree in nav.children %}
      {% if (navPath && navPath[navTree.$id]) || (!navPath && loop.first) %}
        {% set isActive = true %}
      {% else %}
        {% set isActive = false %}
      {% endif %}
      <div class="tab-pane {% if isActive %}active{% endif %}"
        id="tab-{{ navTree.slug }}">
        {{ navTab(navTree.children) }}
      </div>
    {% endfor %}
  </div>
</nav>
