<!-- regular nav -->
<div class="menu menu--top">
  <div class="container">
    <nav class="menu__nav navbar" role="navigation">
      <a class="menu__logo navbar-brand" href="{{ baseUrl }}">
        <span class="logo">
          <img class="logo__img" src="{{ logo }}" />
          <span class="logo__text">{{ $names.company.lower }}</span>
        </span>
      </a>

      <ul class="menu__items nav navbar-nav navbar-left">
        {% for menuItem in menuLinks %}
        <li class="menu__item">
          <a href="{{ menuItem.link }}">{{ menuItem.title }}</a>
        </li>
        {% endfor %}
      </ul>

      <ul class="menu__items nav navbar-nav navbar-right">
        <li class="menu__item menu__item--btn-group">
          <div class="btn-group btn-group-sm" role="group">
            <a class="btn" href="{{ dashboardUrl }}/login">Login</a>
            <a class="btn btn-primary white" href="{{ dashboardUrl }}/signup">Sign up</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>

<nav class="navbar navbar-default navbar--mobile">
  <div class="navbar-header">
    <a class="menu__logo navbar-brand" href="{{ baseUrl }}">
      <span class="logo">
        <img class="logo__img" src="{{ logo }}" />
        <span class="logo__text">{{ $names.company.lower }}</span>
      </span>
    </a>

    <a class="btn btn-primary" href="{{ dashboardUrl }}/signup">SIGN UP</a>

    <button type="button" class="navbar-toggle" >
      {% for i in [1,2,3] %}
      <span class="icon-bar"></span> {% endfor
      %}
    </button>
  </div>
  <div class="navbar-collapse collapsed">
    <ul class="nav">
      {% for menuItem in menuLinks %}
      <li>
        <a href="{{ menuItem.link }}">{{ menuItem.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>

<nav class="navbar navbar-submenu navbar--mobile">
  <div class="navbar-header">
    <span class="navbar-submenu-title">{{ title }}</span>
    <button type="button" class="navbar-toggle">
      <span class="caret"></span>
    </button>
  </div>
  <div class="navbar-collapse collapsed">
    <div class="sidebar sidebar-mobile">
      <div class="search-mobile">
        {% include "_search-form-mobile.html" %}
      </div>
      {% include "_nav-mobile.html" %}
    </div>
  </div>
</nav>
