<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@klaxit/cookie-consent@0.3.4/dist/cookie-consent.js"></script>

<script>
const GTM_TAG = 'GTM-598RSSPM';

window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }

gtag('consent', 'default', {
  'analytics_storage': 'denied'
});

function addAnalyticsClient() {
  const el = document.createElement('script');
  el.type = 'text/javascript';
  el.crossOrigin = 'anonymous';
  el.async = true;
  el.src =
    'https://cdn.jsdelivr.net/npm/analytics-client@3.1.1/dist/bundle.js';

  el.onload = function (_) {
    var urlParamsHandler = new analyticsClient.AnalyticsUrlParams();
    var newQuery = urlParamsHandler.consumeUrlParameters(window.location.search);
    if (newQuery != null && `?${newQuery}` !== window.location.search) {
      window.location.search = newQuery;
    }

    var client = analyticsClient.createClient({
      projectName: '1963512249dcd02836369507fb6dd034',
      componentName: 'docs',
      endpoint: 'data.{{ $names.cloud_domain }}',
      deviceId: urlParamsHandler.getPassedDeviceId(),
    });
    urlParamsHandler.setClient(client);

    var webTracker = analyticsClient.createWebTracker(client, 'Docs');
    webTracker.trackPageView();

    var dashboardBaseUrl = '{{ $links.dashboardUrl }}';
    var githubBaseUrl = '{{ $links.githubMain }}';

    // Since the dashboard is on a different domain, we need to explicitly
    // set the anonymous id, so that we don't have disconnected timelines.
    window.jQuery('a[href^="' + dashboardBaseUrl + '"]').attr('href', function(i, h) {
      return (h + (h.indexOf('?') != -1 ? '&' : '?') + urlParamsHandler.getQueryString());
    });
    window.jQuery('a[href^="' + githubBaseUrl + '"]').click(function() {
      var this_href = window.jQuery(this).attr('href');
      webTracker.trackNavigationClick(href= this_href);
    });
  };

  const firstElement = document.getElementsByTagName('script')[0];
  firstElement.parentNode.insertBefore(el, firstElement);
}

function addGTM() {
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js',
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', GTM_TAG);
}

if (window.CookieConsent) {
  const cc = new window.CookieConsent({
    title: 'We use cookies 🍪',
    description: 'We use cookies to enhance your browsing experience and analyze our traffic. By clicking "Accept All" you consent to our use of cookies. Read more about our <a href="https://www.balena.io/privacy-policy" target="_blank">privacy policy</a>.',
    buttons: {
      acceptAll: 'Accept all',
      acceptSelected: 'Save selection',
      reject: 'Reject all',
      showSettings: 'Customize',
      hideSettings: 'Back',
    },
    cookie: {
      secure: false,
      domain: 'balena.io',
      name: 'cookie_consent',
    },
  })

  cc.on('accept', () => {
    addAnalyticsClient();
    gtag('consent', 'update', {
      'analytics_storage': 'granted'
    });
  });
}

if (window.CookieConsent?.acceptedCategories?.includes('analytics')) {
  gtag('consent', 'update', {
    'analytics_storage': 'granted'
  });
  addAnalyticsClient();
}

addGTM()
</script>
