<!-- GA -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45671959-1', 'auto');
  ga('send', 'pageview');
</script>

<script type="text/javascript" src="https://unpkg.com/analytics-client@1.5.0/dist/bundle.js"></script>

<!-- start balena analytics -->
<script type="text/javascript">
  var urlParamsHandler = new analyticsClient.AnalyticsUrlParams();
  var newQuery = urlParamsHandler.consumeUrlParameters(window.location.search);
  if (newQuery != null) {
    window.location.search = newQuery;
  }

  var baseUrl = '{{ $links.apiBase }}';
  window.jQuery.get(baseUrl + '/config', (config) => {
    const client = analyticsClient.createClient({
      projectName: config.mixpanelToken,
      componentName: 'docs',
      endpoint: 'data.{{ $names.cloud_domain }}',
      deviceId: urlParamsHandler.getPassedDeviceId(),
    });
    urlParamsHandler.setClient(client);

    const webTracker = analyticsClient.createWebTracker(client, 'Docs');
    webTracker.trackPageView();

    var dashboardBaseUrl = '{{ $links.dashboardUrl }}';
    var githubBaseUrl = '{{ $links.githubMain }}';

    // Since the dashboard is on a different domain, we need to explicitly
    // set the anonymous id, so that we don't have disconnected timelines.
    window.jQuery('a[href^="' + dashboardBaseUrl + '"]').attr('href', function(i, h) {
      return (h + (h.indexOf('?') != -1 ? '&' : '?') + urlParamsHandler.getQueryString());
    });
    window.jQuery('a[href^="' + githubBaseUrl + '"]').click(function() {
      var this_href = window.jQuery(this).attr('href');
      webTracker.trackNavigationClick(href= this_href);
    });
  });
</script>
<!-- end balena analytics -->
