{% extends "default.html" %}

{% block "contents" %}
	<h1 id="balenacloud-api-resources">balenaCloud API Resources</h1>

	<p><strong>Note:</strong> We recently renamed <strong>applications</strong> to <strong>fleets</strong> and are in the process of updating our API resources. Application resources continue to function correctly and can be used to work with fleets. <a href="https://www.balena.io/blog/the-road-to-multi-app-transitioning-balenacloud-applications-to-fleets/">Find out more about the changes here</a>.</p>

	<div style="display: flex;">
		<div style="float: left; width: 40%; padding-right: 10px;">
			<h2>Available fields</h2>
			<pre><code class="json">{% for field in $resource.fields %}{{ field }}
{% endfor %}</code></pre>
		</div>
		<div style="float: right; width: 60%; padding-left: 10px;">
			<h2>Examples</h2>
			{% for example in $resource.examples %}
				<h3 id="{{ example.id }}">{{ example.summary }}</h3>
				{% if example.description %}
					<p>{{ example.description }}</p>
				{% endif %}
				<pre><code>curl -X {{ example.method }} \
"https://api.balena-cloud.com{{ example.endpoint }}{{ example.filters }}" \
-H {% if example.content-type %} "Content-Type: {{example.content-type}}" {% else %} "Content-Type: application/json" {% endif %} \
-H "Authorization: Bearer &lt;AUTH_TOKEN&gt;" {% if example.data %}\
--data '{{ example.data }}'{% endif %}</code></pre>
			{% endfor %}
		</div>
	</div>
{% endblock %}
