{% extends "default.html" %}

{% block dynamicSwitchCustom %}
<p class="dynamic-switch__append">
</p>
{% endblock %}

{% block "contents" %}
<h1>
  Configuration List for {{ $device.name }}
</h1>
<p>
  The list contains configuration and their respective variables that can be used with {{ $names.company.lower }}
  devices. Some of which will automatically appear for devices with supervisor v7.0.0 and greater. While they may not
  automatically populate in the Configuration dashboard, most of these variables can still be used with older supervisor
  versions, so be sure to check the *Supported by* context for each configuration.
</p>
<p>
  In addition to these values, there may be device-type specific configuration variables that can be set. For example,
  these are a few of the values that apply to Raspberry Pi devices, corresponding to the contents of the <a
    href="https://www.raspberrypi.com/documentation/computers/config_txt.html">Raspberry Pi config.txt file</a>.
</p>
<p>
  <strong>Warning:</strong> Wrong configuration may potentially leave a device inaccessible. Be sure to try your changes
  in a controlled environment before applying them to production devices.
</p>

<table>
  <thead>
    <tr>
      <th>Variable Name</th>
      <th>Description</th>
      <th>Will reboot</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody id="config_table"></tbody>
</table>

<p>
  You can find more information on updating config.txt through configuration variables in our <a
    href="/reference/OS/advanced/#modifying-configtxt-using-configuration-variables">Advanced Boot Configuration
    Guide</a>. In addition to the dashboard, this configuration can be also be set using the API or any of its clients,
  including the <a href="/reference/sdk/node-sdk">SDK</a> and <a
    href="/reference/cli/reference/balena-cli/#envs">CLI</a>.
</p>
{% endblock %}