<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resin.io Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600|Montserrat:400,600">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/bower_components/colorbox/example3/colorbox.css">
    <link rel="stylesheet" href="/bower_components/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu-top.css">
  </head>
  <body data-spy="scroll" data-target=".in-page-nav">
    <noscript>
      This website requires Javascript to be enabled. Please turn on Javascript
      and reload the page.
    </noscript>

    {% include "_top-menu.html" %}

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar">
          <div class="search-wrapper js-sticky-header">
            {% include "_search-form.html" %}
          </div>
          {% include "_nav.html" %}
        </div>
        <article>
          <div class="header-wrapper">
            <header class="js-sticky-header">
              {% include "_breadcrumbs.html" %}
            </header>
          </div>
          <div class="content-wrapper">
            <div class="page-content-wrapper">
              {% if improveDocsLink %}
                <a
                  target="_blank"
                  href="{{ improveDocsLink }}"
                  class="improve-docs btn btn-info">
                  <span class="glyphicon glyphicon-edit"></span>
                  Improve this doc</a>
              {% endif %}
              {% if dynamic_page and $switch_text %}
                <div class="dynamic-switch well">
                  {% include "_dynamic-switch.html" %}
                  {% block dynamicSwitchCustom %}{% endblock %}
                </div>
              {% endif %}
              <section class="page-content">
                {% block "contents" %}
                  {{ contents|safe }}
                {% endblock %}
              </section>
            </div>
          </div>
        </article>
      </div>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/bower_components/ractive/ractive.min.js"></script>
    <script src="/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <script src="/bower_components/headroom.js/dist/headroom.min.js"></script>
    <script src="/bower_components/headroom.js/dist/jQuery.headroom.min.js"></script>

    <script src="/scripts/main.js"></script>

    {% include "_track.html" %}
  </body>
</html>
