name: link checker

on:
  # Check links once a week on Monday
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
    branches:
      - "master"

jobs:
  Checking-Links:
    runs-on: ubuntu-latest
    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v3
      
      # fetch external files && Building the docs
      - name: Build the docs
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: npm ci && npm run build

      # Run link checker on the generated HTML
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.5.0
        with:
          args: >
            --config ./lychee.toml
            --github-token ${{ secrets.GITHUB_TOKEN }}
            "contents/**/*" 

      - name: Create Issue From File
        if: github.event_name != 'pull_request'
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
