name: link checker

on:
  # Run workflow to be triggered manually
  workflow_dispatch:
  # Check links once a week on Monday
  schedule:
    - cron: "00 00 * * 1"
  # Allow workflow to be called by other workflows
  workflow_call:
    inputs:
      deployment_url:
        type: string
        description: "Deployment URL"
        required: false
        default: "https://docs.balena.io"

permissions:
  contents: read
  issues: write

jobs:
  Checking-Links:
    runs-on: ubuntu-latest
    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      # fetch external files && Building the docs
      - name: Build the docs
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 22

      - run: npm run deploy-docs

      - name: Restore lychee cache
        id: restore-cache
        if: github.event_name == 'pull_request' || github.event_name == 'pull_request_target'
        uses: actions/cache/restore@v5.0.2
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      # Run link checker on the generated HTML
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@2b973e86fc7b1f6b36a93795fe2c9c6ae1118621 # v1.10.0
        with:
          args: >
            --base ${{ inputs.deployment_url }}
            --config ./lychee.toml
            "build/**/*" "tools/fetch-external.sh"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Issue From File
        if: env.lychee_exit_code != 0 && github.event_name == 'schedule'
        uses: peter-evans/create-issue-from-file@v5.0.0
        with:
          title: Link Checker Report
          token: ${{ secrets.GITHUB_TOKEN }}
          content-filepath: ./lychee/out.md
          labels: |
            report
            automated issue

      - name: Save lychee cache
        uses: actions/cache/save@v5.0.2
        if: always()
        with:
          path: .lycheecache
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}
