name: link checker

on:
  # Check links once a week on Monday
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
    branches:
      - "master"

jobs:
  Checking-Links:
    runs-on: ubuntu-latest
    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      # fetch external files
      - name: Fetching External files
        run: ./tools/prepare.sh

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.2.0
        with:
          args: >
            --config ./lychee.toml
            --github-token ${{ secrets.GITHUB_TOKEN }}
            **/*.md

      - name: Create Issue From File
        if: github.event_name != 'pull_request'
        uses: peter-evans/create-issue-from-file@v3
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
